<div class="group relative cursor-pointer" [routerLink]="['/product', product.handle]">
    <!-- Image Area -->
    <div class="aspect-square bg-bg-gray overflow-hidden mb-4 relative">
        <img [src]="product.thumbnail" [alt]="product.title"
            class="w-full h-full object-cover object-center group-hover:scale-105 transition-transform duration-700 ease-out">

        @if (product.tags.includes('new')) {
        <span class="absolute top-4 left-4 text-[#EF0000] text-sm font-bold uppercase tracking-tight">Just In</span>
        }
    </div>

    <!-- Info Area -->
    <div class="px-1">
        <h3 class="font-bold text-base text-primary leading-tight">
            {{ product.title }}
        </h3>
        <p class="text-sm text-text-secondary font-medium">
            {{ product.category }}
        </p>
        <div class="mt-2">
            <span class="font-bold text-base">{{ product.price | currency: product.currency }}</span>
        </div>
    </div>
</div>